.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cta {
  color: var(--color-core-1);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.cta.hover,
.cta:focus {
  color: var(--color-core-4);
}

.cta.-disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.cta.-disabled .icon {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

.cta.-iconOnly {
  padding: 10px;
}

.cta.-iconOnly .icon {
  margin-left: 0;
  height: 24px;
  width: 24px;
}

.cta.-iconLeft .icon {
  margin-left: 0;
  margin-right: 10px;
}

.cta .icon {
  border: 1px solid var(--color-core-1);
  color: var(--color-core-1);
  display: block;
  height: 12px;
  margin-left: 10px;
  width: 12px;
}

.cta:disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.cta:focus-visible {
  border-radius: var(--border-radius-default);
  outline: 2px solid #1275a9;
}

button.cta {
  background-color: var(--color-core-1);
  border: 0;
  border-radius: var(--border-radius-default);
  color: #fff;
  padding: 10px 20px;
}

button.cta:hover,
button.cta:focus {
  background-color: var(--color-core-4);
}

button.cta:focus-visible {
  color: #fff;
  outline-offset: 2px;
}

button.cta .icon {
  border-color: #fff;
  color: #fff;
}

button.cta:disabled {
  background-color: var(--color-disabled);
  color: #fff;
}

button.cta.-secondary {
  background-color: #fff;
  border: 2px solid var(--color-core-1);
  color: #444444;
}

button.cta.-secondary:hover {
  background-color: var(--color-core-1);
  border: 2px solid var(--color-core-1);
  color: #fff;
}

button.cta.-secondary .icon {
  background-color: #fff;
  border-color: var(--color-core-1);
  color: #444444;
}

button.cta.-secondary:disabled {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

button.cta.-secondary:disabled .icon {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}

button.cta.-ghost {
  background-color: transparent;
  color: #444444;
}

button.cta.-ghost .icon {
  border-color: #444444;
}

button.cta.-ghost:hover {
  background-color: #f4f4f4;
}

button.cta.-ghost:focus-visible {
  background-color: transparent;
}

button.cta.-ghost:disabled {
  color: var(--color-disabled);
}

button.cta.-ghost:disabled .icon {
  border-color: var(--color-disabled);
  color: var(--color-disabled);
}
